{% for group in bgp_groups %}
set protocols bgp group {{ group.name }} type {{ group.type }}
{% if group.local_address is defined %}
set protocols bgp group {{ group.name }} local-address {{ group.local_address }}
{% endif %}
{% if group.peer_as is defined %}
set protocols bgp group {{ group.name }} peer-as {{ group.peer_as }}
{% endif %}
{% if group.export_policy is defined %}
set protocols bgp group {{ group.name }} export {{ group.export_policy }}
{% endif %}
{% if group.multihop is defined %}
set protocols bgp group {{ group.name }} multihop 
{% endif %}
{% if group.multipath is defined %}
set protocols bgp group {{ group.name }} multipath
{% endif %}
{% if group.bfd is defined %}
set protocols bgp group {{ group.name }} bfd-liveness-detection minimum-interval {{ group.bfd.min }}
{% endif %}
{% if group.families is defined %}
{% for family in group.families %}
set protocols bgp group {{ group.name }} family {{ family }}
{% endfor %}
{% endif %}
{% if group.neighbors is defined %}
{% for neighbor in group.neighbors %}
set protocols bgp group {{ group.name }} neighbor {{ neighbor.address }}
{% if neighbor.import is defined %}
set protocols bgp group {{ group.name }} neighbor {{ neighbor.address }} import {{ neighbor.import }}
{% endif %}
{% if neighbor.peer_as is defined %}
set protocols bgp group {{ group.name }} neighbor {{ neighbor.address }} peer-as {{ neighbor.peer_as }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
set routing-options router-id {{ router_id }}
set routing-options autonomous-system {{ bgp_asn }}
